.divContainer {
    background-color: crimson;
}

.divTypes {
    height: 100px;
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
}