.divContainer {
    color: rgb(12, 24, 24);
    background-image: url("../img/FondoHome2.jpg");
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.buttonStyle {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 8px 8px 10px;
    color: #c7cacc;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 30px;
}

.buttonStyle:hover{
  color: #fff;
  background-color: #616467;
}


.selectStyle {
    display: inline-block;
    font-size: 12px;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 8px 8px 10px;
    color: #c7cacc;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 33px;
  }
  
  .selectStyle option {
    font-weight: normal;
  }
  
  .selectStyle:hover {
    color: #fff;
    background-color: #616467;
  }
  