.divContainer {
    background-color: rgba(230, 230, 179, 0.3);
    width: 200px;
    height: 265px;
    border-style: double;
    border-radius: 5%;
    border-width: 5px;
    margin: 5px 10px 5px 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);

}

.divData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
}

div h6 {
    margin: 5px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
}

img {
    margin: 0px 10px 0px 30px;
    max-width: 200px;
    /* max-height: 100px; */
}
