.divContainer {
    background-color: darkgreen;
}

.divCards {
    border-style: double;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}